/* Add some basic styling */
* {
    background-color: black;
    color: white;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  h1 {
    color: #333;
  }
  .email-form, .code-form {
    margin: 20px auto;
    width: 30%;
  }
  .emailInput, .code-input {
    margin: 10px auto;
    width: 80%;
    padding: 10px;
    font-size: 16px;
  }

  .submit-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }